
progress {
	background-color: #BAB3F2;  
	border: 0;  
	height: 18px;  
	border-radius: 9px;
}

progress::-webkit-progress-bar {  
    background-color: white;  
	border: 1px solid black;  
	height: 18px;  
	border-radius: 0px;  
}  

progress::-webkit-progress-value {  
    background-color: #BAB3F2;   
}

canvas {
	border: 1px solid black;
}

div.file_drop {
	border: 2px dashed #bbb;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 25px;
	text-align: center;
	font: 20pt bold,"Vollkorn";
	color: #bbb;
}